<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>miVersion</title>
    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Article-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Contact-Form-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Footer-Basic.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Footer-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Highlight-Blue.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Navigation-with-Button.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Registration-Form-with-Photo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/Testimonials.css')}}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Hotel Radisson</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Habitaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre nosotros</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Servicios&nbsp;</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </li>
                </ul><a class="login" href="#">Log In</a><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#">Sign Up</a></span>
            </div>
        </div>
    </nav>
    <div data-bss-parallax-bg="true" style="height: 500px;background-image: url(https://unsplash.it/1800/900?image=1051);background-position: center;background-size: cover;"></div>
    <footer class="footer-basic">
        <section class="highlight-blue">
            <div class="container">
                <div class="intro"></div>
                <div class="buttons"></div>
            </div>
            <section class="testimonials-clean">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Testimonios </h2>
                        <p class="text-center">Nuestros clientes de nuestro servicio hotelero están muy satisfechos. A continuación veremos los comentarios de nuestra clientela frecuente más destacada</p>
                    </div>
                    <div class="row people">
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <p class="description">He disfrutado demasiado durante estancia, fue un gran servicio y pude descanar.</p>
                                <h5 class="name">Benjamin Botton</h5>
                            </div>
                            <div class="author"><img class="rounded-circle" src="{{url_for('static', filename='assets/img/1.jpg')}}">
                                <p class="title">CEO of Botton Company Inc.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <p class="description">Excelente atención y servicio, muy bonitas habitaciones y camas muy comodas.</p>
                            </div>
                            <div class="author"><img class="rounded-circle" src="{{url_for('static', filename='assets/img/3.jpg')}}">
                                <h5 class="name">Clark Kent</h5>
                                <p class="title">Founder of Justice League Co.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item">
                            <div class="box">
                                <p class="description">Buena atención y ambiente muy tranquilo para poder recuperar energias y disfrutar durante mi recorrido.&nbsp;</p>
                            </div>
                            <div class="author"><img class="rounded-circle" src="{{url_for('static', filename='assets/img/2.jpg')}}">
                                <h5 class="name">Bruce Wayne</h5>
                                <p class="title">Owner of Wayne Ltd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <footer class="footer-clean">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Hoteleria</a></li>
                            <li><a href="#">Alimentacion</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Sobre Nosotros</h3>
                        <ul>
                            <li><a href="#">Nuestra Compañia</a></li>
                            <li><a href="#">Nuestro equipo</a></li>
                            <li><a href="#">Legalidad</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <ul></ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Hotel Radisson © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
    <footer></footer>
    <script src="{{url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bs-init.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/theme.js')}}"></script>
</body>

</html>